:root {
  --primary: cadetblue;
  --secondary: #bdbdbd;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.text-color-primary {
  color: var(--primary);
}
.text-color-secondary {
  color: var(--secondary);
}
.foto_perfil {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
}

.foto_trabajos {
  max-width: 100px;
  height: 70px;
  cursor: pointer;
}

.fondo_cv {
  background-color: white;
  min-height: 100vh;
}

.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  bottom: 150%;
  left: 50%;
  margin-left: -36px;
}

.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
}
